<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chad">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReportRefferal" />
        <activity android:name=".Report" />
        <activity android:name=".ListOfAnswers" />
        <activity android:name=".PregnantWomen" />
        <activity android:name=".House" />
        <activity android:name=".End" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Part99" />
        <activity android:name=".Part98" />
        <activity android:name=".Part97" />
        <activity android:name=".Part96" />
        <activity android:name=".Part95" />
        <activity android:name=".Part94" />
        <activity android:name=".Part93" />
        <activity android:name=".Part92" />
        <activity android:name=".Part91" />
        <activity android:name=".Part90" />
        <activity android:name=".Part89" />
        <activity android:name=".Part88" />
        <activity android:name=".Part87" />
        <activity android:name=".Part86" />
        <activity android:name=".Part85" />
        <activity android:name=".Part84" />
        <activity android:name=".Part83" />
        <activity android:name=".Part82" />
        <activity android:name=".Part81" />
        <activity android:name=".Part80" />
        <activity android:name=".Part79" />
        <activity android:name=".Part78" />
        <activity android:name=".Part77" />
        <activity android:name=".Part76" />
        <activity android:name=".Part75" />
        <activity android:name=".Part74" />
        <activity android:name=".Part73" />
        <activity android:name=".Part72" />
        <activity android:name=".Part71" />
        <activity android:name=".Part70" />
        <activity android:name=".Part69" />
        <activity android:name=".Part68" />
        <activity android:name=".Part67" />
        <activity android:name=".Part66" />
        <activity android:name=".Part65" />
        <activity android:name=".Part64" />
        <activity android:name=".Part63" />
        <activity android:name=".Part62" />
        <activity android:name=".Part61" />
        <activity android:name=".Part60" />
        <activity android:name=".Part59" />
        <activity android:name=".Part58" />
        <activity android:name=".Part57" />
        <activity android:name=".Part56" />
        <activity android:name=".Part55" />
        <activity android:name=".Part54" />
        <activity android:name=".Part53" />
        <activity android:name=".Part52" />
        <activity android:name=".Part51" />
        <activity android:name=".Part50" />
        <activity android:name=".Part49" />
        <activity android:name=".Part48" />
        <activity android:name=".Part47" />
        <activity android:name=".Part46" />
        <activity android:name=".Part45" />
        <activity android:name=".Part44" />
        <activity android:name=".Part43" />
        <activity android:name=".Part42" />
        <activity android:name=".Part41" />
        <activity android:name=".Part40" />
        <activity android:name=".Part39" />
        <activity android:name=".Part38" />
        <activity android:name=".Part37" />
        <activity android:name=".Part36" />
        <activity android:name=".Part35" />
        <activity android:name=".Part34" />
        <activity android:name=".Part33" />
        <activity android:name=".Part32" />
        <activity android:name=".Part31" />
        <activity android:name=".Part30" />
        <activity android:name=".Part29" />
        <activity android:name=".Part28" />
        <activity android:name=".Part27" />
        <activity android:name=".Part26" />
        <activity android:name=".Part25" />
        <activity android:name=".Part24" />
        <activity android:name=".Part23" />
        <activity android:name=".Part22" />
        <activity android:name=".Part21" />
        <activity android:name=".Part20" />
        <activity android:name=".Part19" />
        <activity android:name=".Part18" />
        <activity android:name=".Part17" />
        <activity android:name=".Part16" />
        <activity android:name=".Part15" />
        <activity android:name=".Part14" />
        <activity android:name=".Part13" />
        <activity android:name=".Part12" />
        <activity android:name=".Part11" />
        <activity android:name=".Part10" />
        <activity android:name=".Part9" />
        <activity android:name=".Part8" />
        <activity android:name=".Part7" />
        <activity android:name=".Part6" />
        <activity android:name=".Part5" />
        <activity android:name=".Part4" />
        <activity android:name=".Part3" />
        <activity android:name=".Part2" />
        <activity
            android:name=".Dashboard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>